/* Stylesheet for the Tech Returners surgery */
/* Styles for the main sections */
:root {
    --primary-color: lightblue;
    --secondary-color: black;
    --element-color: darkblue;
    --menu-dark: rgb(23, 112, 153);
    --menu-light: rgb(1, 71, 104);
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    font-size: xx-large;
    background-color: var(--element-color);
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
}
header a {
    color: var(--primary-color);
    display: block;
    text-decoration: none;
}
body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 30px; 
}
.top-section {
    margin-top: 5em;
}
section {
    margin-top: 3em;
    display: block;
}
/* Styling for the navbar list */
ul {
    list-style-type: none;
    width: 200px;
    min-width: max-content;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}
li {
    float: left;
    background-color: var(--menu-light);
    padding-top: 1em;
}
li a {
    display: block;
    padding: 8px;
    width: 200px;
    height: 40px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}
li:nth-child(odd){
    background-color: var(--menu-dark);
}
/*  Form styles */
form {
    margin-top: 0.5em;
}
form div {
    margin-top: 15px;
    padding: 3px;
}
[name="search"] {
    margin-left: 10px;
    margin-top: 20px;
}
#submit-button {
    background-color: var(--element-color); 
    color: var(--primary-color);
    width: 10%;
    margin: 30px;
    height: 30px;
}
input {
    border-width: 1.5px;
    border-radius: 3px; 
    border: none;
    border-bottom: 2px solid var(--element-color);
    background-color: var(--primary-color);
}