/* Stylesheet for the Tech Returners surgery */

:root {
    --primary-color: lightblue;
    --secondary-color: black;
    --element-color: darkblue;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    font-size: xx-large;
    background-color: var(--element-color);
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
}
header a {
    color: var(--primary-color);
    display: block;
    text-decoration: none;
}
body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 30px; 
}